{% extends "base.html" %}

{% load project_extras %}

{% block content %}
<div class="large-12 large-centered columns">
	<div class="row">
		<h1>Projects that we <3</h1>
		<table>
			<thead>
				<tr>
					<th width="1200">Project title</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				{% for project in object_list %}
				<tr>
					<td>
						<a href="{% url "project-detail" project_id=project.pk %}">
							{{ project.title }}
						</a>
						<br />
						<small>
							This project has {{ project.tickets.count }} tickets
							({{ project.tickets.all|get_status_count:"OPEN" }} opened,
							{{ project.tickets.all|get_status_count:"CLOSED" }} closed)
						</small>
					</td>
					<td>
						<a class="button tiny"
						   href="{% url "project-update" project_id=project.pk %}">
							<i class="fi-pencil"></i>
						</a>
					</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
	<div class="row">
		<p>
			<a href="{% url "project-create" %}" class="button">Create project</a>
		</p>
	</div>
</div>
{% endblock %}
